* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
    height: 40vh;
    margin-top: 10%;
    background-color: blue;
}

.main-first-col{
    /* border-radius: 10px; */
    border: 1px solid red;
    background-color: white;
    width: 85%;
    height: 70%;
}

.main-second-col{
    border: 1px solid red;
}
